body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: #E5F9E0;
  padding: 30px;
  text-align: center;
  
}

.header {
  padding: 10px 16px;
  background: #2F9C95;
  
	text-align: center;
}

.nav_link {
	color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

h3, p {
	color:#664147;
	padding-right: 50px;
	padding-left: 50px;
}
h1 {
	color: #40C9A2;
	text-align: center;
	
	
	
}

.photo {
	text-align: center;
	color: #664147;
}



.img_cert {
	width: 40%;
}